// Layout

$S:     480px;
$M:    768px;
$L:     1100px;

$max-width-content: 1100px;
$padding-articlecontainer: 20px;
$elementmargin: 20px;

// colors

$darkgrey: #414141;
$mediumgrey: #e7e7e7;
$lightgrey: #f8f8f8;
$diagramm1: #f3ed00;
$diagramm2: #d0de23;
$diagramm3: #a1c938;
$diagramm4: #70b545;
$diagramm5: #009655;


// fonts

$titel: 'GeorgiaProW01-SemiBold', Georgia, 'Times New Roman', Times, serif;
$titel-weight: bold;
$titel-size:34px;
$titel-size-mobile:0;
$laufschrift: 'GeorgiaProW01-Regular', Georgia, 'Times New Roman', Times, serif;
$laufschrift-weight: normal;
$laufschrift-size:18px;
$laufschrift-size-mobile:0;

$line-height:24px;

// animation

$animation-duration: 0.7s;





